{% extends 'layout/base.html' %} {% block content %} {% include 'layout/header.html' %}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-sm" style="width: 100%; max-width: 400px;">
      <h4 class="card-title mb-3 text-center">Set New Password</h4>

        {% if messages %}
        <div class="messages">
          {% for message in messages %}
          <p
            class="alert {% if message.tags == 'error' %}alert-danger {% elif message.tags == 'warning' %}alert-warning {% elif message.tags == 'success' %}alert-success {% else %}alert-info{% endif %}"
          >
            {{ message }}
          </p>
          {% endfor %}
        </div>
        {% endif %}
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <p>* Your password can’t be too similar to your other personal information.</p>
        <p>* Your password must contain at least 8 characters.</p>
        <p>* Your password can’t be a commonly used password.</p>
        <p>* Your password can’t be entirely numeric.</p>

        <button type="submit" class="btn btn-success w-100 mt-3">Reset Password</button>

      </form>
      <a href="{% url 'login' %}" class="d-block text-center mt-3 text-decoration-none">Back to Login</a>
    </div>
  </div>
{% include 'layout/footer.html' %} {% endblock %}
