{% extends 'layout/base.html' %} {% block content %} {% include
'layout/header.html' %} {% include 'partials/navbar.html' %}

<section class="bg-light my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="card border shadow-0">
          <div class="m-4">
            <h4 class="card-title mb-4">Your shopping cart</h4>
            {% if cart_products %} {% for product in cart_products %}
            <div class="row gy-3 mb-4 shadow-3 p-3">
              <div class="col">
                <img
                  src="{{product.product_id.image.url}}"
                  class="border rounded me-3"
                  style="width: 96px; height: 96px"
                />
              </div>
              <div class="col">
                <a href="#" class="nav-link">{{product.product_id.title}}</a>
                <p class="text-muted">Blue, Medium</p>
              </div>
              <div class="col">
                <div class="d-inline-flex">
                  <form
                    action="{% url 'decrease_quantity' cart_items_id=product.id %}"
                    method="post"
                  >
                    {% csrf_token %}
                    <button
                      class="btn btn-floating btn-outline-dark mx-2 btn-sm"
                      type="submit"
                      id="minus"
                    >
                      -
                    </button>
                  </form>
                  <input
                    class="d-none"
                    name="quantity"
                    id="id_quantity"
                    value="{{product.quantity}}"
                  />
                  <h4>
                    <span class="badge badge-primary"
                      >{{ product.quantity }}</span
                    >
                  </h4>
                  <form
                    action="{% url 'increase_quantity' cart_items_id=product.id %}"
                    method="post"
                  >
                    {% csrf_token %}
                    <button
                      class="btn btn-floating btn-outline-dark mx-2 btn-sm"
                      type="submit"
                      id="plus"
                    >
                      +
                    </button>
                  </form>
                </div>
              </div>
              <div class="col">
                <text class="h6">${{ product.total_count }}</text>
                <br />
                <small class="text-muted text-nowrap">
                  ${{ product.product_id.unit_price }} / per item
                </small>
              </div>
              <div class="col">
                <div class="d-inline-flex float-md-end">
                  <form
                    action="{% url 'delete_cart_item' user_id=user.id pk=product.id %}"
                    method="post"
                  >
                    {% csrf_token %}
                    <button
                      type="submit"
                      class="btn btn-outline-danger btn-floating btn-close"
                    ></button>
                  </form>
                </div>
              </div>
            </div>
            {% endfor %} {% else %}
            <h1 class="opacity-50">No Product</h1>
            <a href="{% url 'products' %}" class="btn btn-primary"
              >Start Shop</a
            >
            {% endif %}
          </div>
          <div class="border-top pt-4 mx-4 mb-4">
            <p>
              <i class="fas fa-truck text-muted fa-lg"></i> Free Delivery within
              1-2 weeks
            </p>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card mb-3 border shadow-0">
          <div class="card-body">
            <form>
              <div class="form-group">
                <label class="form-label">Have coupon?</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control border"
                    name=""
                    placeholder="Coupon code"
                  />
                  <button class="btn btn-light border">Apply</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card shadow-0 border">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="mb-2">Total price:</p>
              <p class="mb-2">${{total_value}}</p>
            </div>
            <div class="d-flex justify-content-between">
              <p class="mb-2">Discount:</p>
              <p class="mb-2 text-success">-$60.00</p>
            </div>
            <div class="d-flex justify-content-between">
              <p class="mb-2">TAX:</p>
              <p class="mb-2">$14.00</p>
            </div>
            <hr />
            <div class="d-flex justify-content-between">
              <p class="mb-2">Total price:</p>
              <p class="mb-2 fw-bold">${{total_value}}</p>
            </div>
            <div class="mt-3">
              <a href="#" class="btn btn-success w-100 shadow-0 mb-2">
                Make Purchase
              </a>
              <a href="#" class="btn btn-light w-100 border mt-2">
                Back to shop
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.getElementById("plus").addEventListener("click");
</script>
{% include 'layout/footer.html' %} {% endblock %}
