<!-- Welcome page navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container justify-content-center justify-content-md-between">
    <button class="navbar-toggler border py-2 text-dark" type="button" data-mdb-toggle="collapse"
      data-mdb-target="#navbarLeftAlignExample" aria-controls="navbarLeftAlignExample" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-dark" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/products">Products</a>
        </li>
      </ul>
    </div>
  </div>
</nav>