{% load url_tag %}
<!-- Toggle button -->
<button data-mdb-collapse-init class="btn btn-outline-secondary mb-3 w-100 d-lg-none" type="button"
    data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span>Show filter</span>
</button>
<!-- Collapsible wrapper -->
<div class="collapse card d-lg-block mb-5" id="navbarSupportedContent">
    <div class="accordion" id="accordionPanelsStayOpenExample">

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button data-mdb-collapse-init class="accordion-button text-dark bg-light" type="button"
                    data-mdb-toggle="collapse" data-mdb-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                    Related items
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                <div class="accordion-body">
                    <ul class="list-unstyled">
                        {% for collection in collections %}
                            <li>
                                <a href="{% url 'products' %}?collection_id={{ collection.id }}"
                                   class="{% if request.GET.collection_id == collection.id|stringformat:'s' %}text-primary{% else %}text-dark{% endif %}">
                                    {{ collection.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">

            <h2 class="accordion-header" id="headingThree">
                <button data-mdb-collapse-init class="accordion-button text-dark bg-light" type="button"
                    data-mdb-toggle="collapse" data-mdb-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree">
                    Price
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
                <div class="accordion-body">
                    <div class="range">
                        <input type="range" class="form-range" id="customRange1" />
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <p class="mb-0">
                                Min
                            </p>
                            <div class="form-outline">
                                <input type="number" id="id_min_price" name="min_price" min=0 class="form-control" />
                                <label class="form-label" for="id_min_price">$0</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <p class="mb-0">
                                Max
                            </p>
                            <div class="form-outline">
                                <input type="number" id="id_max_price" name="max_price" min="0" max="99999" class="form-control" />
                                <label class="form-label" for="id_max_price">$1,0000</label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="apply-btn"
                        class="btn btn-white w-100 border border-secondary">apply</button>
                </div>
            </div>

        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button data-mdb-collapse-init class="accordion-button text-dark bg-light" type="button"
                    data-mdb-toggle="collapse" data-mdb-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseFour">
                    Size
                </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour">
                <div class="accordion-body">
                    <input type="checkbox" class="btn-check border justify-content-center" id="btn-check1" checked
                        autocomplete="off" />
                    <label class="btn btn-white mb-1 px-1" style="width: 60px;" for="btn-check1">XS</label>
                    <input type="checkbox" class="btn-check border justify-content-center" id="btn-check2" checked
                        autocomplete="off" />
                    <label class="btn btn-white mb-1 px-1" style="width: 60px;" for="btn-check2">SM</label>
                    <input type="checkbox" class="btn-check border justify-content-center" id="btn-check3" checked
                        autocomplete="off" />
                    <label class="btn btn-white mb-1 px-1" style="width: 60px;" for="btn-check3">LG</label>
                    <input type="checkbox" class="btn-check border justify-content-center" id="btn-check4" checked
                        autocomplete="off" />
                    <label class="btn btn-white mb-1 px-1" style="width: 60px;" for="btn-check4">XXL</label>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button data-mdb-collapse-init class="accordion-button text-dark bg-light" type="button"
                    data-mdb-toggle="collapse" data-mdb-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseFive">
                    Ratings
                </button>
            </h2>
            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive">
                <div class="accordion-body">
                    <!-- Default checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
                        <label class="form-check-label" for="flexCheckDefault">
                            <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i
                                class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                        </label>
                    </div>
                    <!-- Default checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
                        <label class="form-check-label" for="flexCheckDefault">
                            <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i
                                class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-secondary"></i>
                        </label>
                    </div>
                    <!-- Default checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
                        <label class="form-check-label" for="flexCheckDefault">
                            <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i
                                class="fas fa-star text-warning"></i><i class="fas fa-star text-secondary"></i>
                            <i class="fas fa-star text-secondary"></i>
                        </label>
                    </div>
                    <!-- Default checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
                        <label class="form-check-label" for="flexCheckDefault">
                            <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i
                                class="fas fa-star text-secondary"></i><i class="fas fa-star text-secondary"></i>
                            <i class="fas fa-star text-secondary"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const applyBtn = document.getElementById('apply-btn');

        applyBtn.addEventListener('click', function () {
            const minPriceValue = document.getElementById('id_min_price').value;
            const maxPriceValue = document.getElementById('id_max_price').value;
            const currentUrl = new URL(window.location.href);
            if (currentUrl.searchParams.has('collection_id')) {
                console.log("get there")
                if (currentUrl.searchParams.has('page')) {
                    if (minPriceValue || maxPriceValue) {
                        currentUrl.searchParams.set('min_price', minPriceValue);
                        currentUrl.searchParams.set('max_price', maxPriceValue);
                        currentUrl.searchParams.delete('page');
                        window.location.href = currentUrl.toString();
                    }
                }
                else {
                    if (minPriceValue || maxPriceValue) {
                        currentUrl.searchParams.set('min_price', minPriceValue);
                        currentUrl.searchParams.set('max_price', maxPriceValue);
                        window.location.href = currentUrl.toString();
                    }
                }
            }
        });
    });
</script>